<h3>구조적 데이터 표시와 처리에 강한 pandas [시간의 흐름!]</h3>

<h4>구조적 데이터 생성하기</h4>

In [3]:
import pandas as pd

In [7]:
import numpy as np

In [5]:
seq_data = [10,20,30,40,50]
seq_data

[10, 20, 30, 40, 50]

In [8]:
np.array(seq_data) # ndarray

array([10, 20, 30, 40, 50])

In [6]:
s1 = pd.Series(seq_data)
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [13]:
s1.index

RangeIndex(start=0, stop=5, step=1)

In [12]:
list(s1.index)

[0, 1, 2, 3, 4]

In [9]:
s2 = pd.Series(['a','b',4,5])
s2

0    a
1    b
2    4
3    5
dtype: object

In [14]:
s2.values

array(['a', 'b', 4, 5], dtype=object)

In [15]:
list(s2.values)

['a', 'b', 4, 5]

In [16]:
index_seq = ['2020-01-01','2020-01-02','2020-01-03','2020-01-04','2020-01-05']
s3 = pd.Series(seq_data, index=index_seq)
s3

2020-01-01    10
2020-01-02    20
2020-01-03    30
2020-01-04    40
2020-01-05    50
dtype: int64

In [17]:
index_seq2 = pd.date_range(start='2020-01-03', end='2020-01-07')
s4 = pd.Series(seq_data, index=index_seq2)
s4

2020-01-03    10
2020-01-04    20
2020-01-05    30
2020-01-06    40
2020-01-07    50
Freq: D, dtype: int64

In [21]:
index_seq3 = pd.date_range(start='2020-01-03', periods= 5, freq='2D')
s5 = pd.Series(seq_data, index=index_seq3)
s5

2020-01-03    10
2020-01-05    20
2020-01-07    30
2020-01-09    40
2020-01-11    50
Freq: 2D, dtype: int64

In [22]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [27]:
fdata = pd.read_csv("total_sales_data.csv")
fdata.describe()

             판매        재고
count  9.000000  9.000000
mean   3.666667  6.000000
std    2.000000  2.345208
min    1.000000  2.000000
25%    2.000000  5.000000
50%    3.000000  6.000000
75%    5.000000  8.000000
max    7.000000  9.000000