In [1]:
a = []
a1 = list()
b = ()
b1 = tuple()

In [6]:
a = {1: 'a'}
a[1]

'a'

In [8]:
bb = {'key': 10}
bb['key']

10

In [9]:
bb[3] = [1,2,3]
bb

{'key': 10, 3: [1, 2, 3]}

In [11]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [12]:
for val in a.keys():
    print(val)

name
phone
birth

In [13]:
list(a.keys())

['name', 'phone', 'birth']

In [14]:
a.values()

dict_values(['pey', '0119993323', '1118'])

In [15]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [16]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [17]:
# 1. 교집합
s1 & s2

{4, 5, 6}

In [18]:
s1.intersection(s2)

{4, 5, 6}

In [19]:
# 2. 합집합
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [20]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [21]:
# 3. 차집합
s1 - s2

{1, 2, 3}

In [23]:
s1.difference(s2)

{1, 2, 3}

In [22]:
s2 - s1

{7, 8, 9}

In [25]:
s2.difference(s1)

{7, 8, 9}

In [27]:
"" == True

False

'python'

In [31]:
bool("python")

True

In [32]:
(a, b) = ('python', 'life')

In [33]:
z = 1,2,3,4,5,6,8
type(z)

tuple

In [36]:
money = 2000
card = True
if money >= 3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

택시를 타고 가라

In [35]:
if "":
    print("참")
else:
    print("거짓")

거짓

In [38]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee - 1
    print("남은 커피의 양은 {}개입니다.".format(coffee))
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [39]:
a = [(1,2), (3,4), (5,6)]

In [41]:
for (first, last) in a:
    print(first + last)

3
7
11

In [42]:
marks = [90, 25, 67, 45, 80]

In [45]:
number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print("{}번 학생은 합격입니다.".format(number))
    else:
        print("{}번 학생은 불합격입니다.".format(number))

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [47]:
# 지역변수들은 반드시 초기화 해줘야 한다.
sum = 0
for i in range(1, 101):
    sum = sum + i

print(sum)

5050